.content_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-size: 15px;
  align-items: end;
}

.page_title { 
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 2; 
  text-align: center;
  height: 80px;
  background-color: #e5c0A9;
  font-family: 'Fira Code', monospace;
  color: #243F50;
}

h1{
  background-color: #e5c0A9;
  color: #243F50;
}

@media only screen and (max-width: 768px) {
  .content_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-size: 15px;
    align-items: end;
  }

  .page_title { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 1; 
    text-align: center;
    background-color: #e5c0A9;
    color: #243F50;
  }

  .home_title{
    width: 100%;
    text-align: center;
    display: block;
  }

  .home_content_container{
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    font-size: 30px;
  }

  .home_text{
    text-align: center;
    width: 100%;
  }

  .home_image{
    margin-bottom: 10px;
    height: 800px;
  }

  .home_image_container{
  }


}

.album > img {
  object-fit: cover;
  width: 100%;
  height: auto;
  align-self: end;
}
  
  .album-title{
    padding-bottom: 15px;
  }

  .album-title:hover{
    color: #e5c0A9;
    transition: 0.3s;
  }


.home_title{
  width: 100%;
  text-align: center;
}

.home_content_container{
  display: flex;
  font-size: 30px;
}

.home_text{
  padding-top: 20px;
}

.home_image_container{
  padding-top: 20px;
}

.home_image{
  margin-bottom: 10px;
  height: 800px;
}

.home_logo{
  text-align: center;
}