/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 20px;
  left: 36px;
  top: 10px;
}

.site_title{
  height: 20px;
  padding-right: 10px;
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 10px;
    top: 65px;
  }

  .site_title{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(255, 255, 255, 1);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #e5c0A9;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background:#243F50;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background-color: #e5c0A9;
  padding: 1em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #243F50;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #243F50;
}

/* Styling of overlay */
.bm-overlay {
  background: black;
  height: 100%;
  width: 100%;
}

.menu-item:hover{
  color: #e5c0A9;
  transition: 0.3s;
}

*:focus {
  outline: none;
}