.year_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  font-size: 15px;
  height: 300px;
}

.year_title { 
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2; 
  text-align: center;
  height: 80px;
  background-color: #e5c0A9;
  font-family: 'Fira Code', monospace;
  color: #243F50;
  margin-bottom: 50px;
}

h1{
  background-color: #e5c0A9;
}

.list_link_outer{
  font-size: 50px;
  height: 150px;
}
.list_link_inner{
  border: 2px solid white;
  text-align: center;
  left: 50%;
  top: 50%;
}