a{
  color: white;
  text-decoration: none;
}

#twitter:hover{
  background-color:#0084b4;
  transition: 0.5s;
}

#lastfm:hover{
  background-color:#BB0000;
  transition: 0.5s;
}

#spotify:hover{
  background-color:#1DB954;
  transition: 0.5s;
}

html{
  background-color: rgba(45, 44, 48,  1);
}